
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    {{> header}}
    <p>Some Text here</p>

    <p>{{screamIt welcomeMessage}}</p>


  </body>



{{> footer}}
</html>
